<header class="top-nav-header">
    <nav class="container-fluid navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <span class="logo-icon" aria-hidden="true">🏛️</span>
            Law4Hire
        </a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavMenuCssClass">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="pricing">Pricing</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="immigrationLibrary">Legal Library</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="dashboard">Dashboard</NavLink>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="oi oi-globe" aria-hidden="true"></span> Language
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#">🇺🇸 English</a></li>
                        <li><a class="dropdown-item" href="#">🇪🇸 Español</a></li>
                        <li><a class="dropdown-item" href="#">🇫🇷 Français</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}