@using Microsoft.AspNetCore.Components.Routing
@page "/immigrationLibrary"

<PageTitle>Immigration Services Library</PageTitle>

<div class="container mt-5">
    <h2 class="mb-4">U.S. Immigration Services</h2>

    <div class="list-group">
        <h5 class="mt-4">Nonimmigrant Visas</h5>
        <a class="list-group-item list-group-item-action" href="/services/e1">E-1 Treaty Trader Visa</a>
        <a class="list-group-item list-group-item-action" href="/services/f1">F-1 Student Visa</a>
        <a class="list-group-item list-group-item-action" href="/services/h1b">H-1B Specialty Occupation Visa</a>
        <a class="list-group-item list-group-item-action" href="/services/k1">K-1 Fiancé(e) Visa</a>
        <a class="list-group-item list-group-item-action" href="/services/l1">L-1 Intracompany Transfer Visa</a>

        <h5 class="mt-4">Immigrant Visas</h5>
        <a class="list-group-item list-group-item-action" href="/services/employment">Employment-Based Green Cards</a>
        <a class="list-group-item list-group-item-action" href="/services/investment">Investment-Based Green Cards (EB-5)</a>
        <a class="list-group-item list-group-item-action" href="/services/family">Family-Based Green Cards</a>

        <h5 class="mt-4">Other Services</h5>
        <a class="list-group-item list-group-item-action" href="/services/court">Immigration Court Representation</a>
        <a class="list-group-item list-group-item-action" href="/services/ice">ICE Holds & Bond Hearings</a>
        <a class="list-group-item list-group-item-action" href="/services/waivers">Waivers (I-601, I-212, etc.)</a>
        <a class="list-group-item list-group-item-action" href="/services/consular">Consular Processing</a>
        <a class="list-group-item list-group-item-action" href="/services/adjustment">Adjustment of Status</a>
        <a class="list-group-item list-group-item-action" href="/services/naturalization">Naturalization & Citizenship</a>
    </div>
</div>